@font-face {
    font-family: 'montserrat';
    src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

body {
    background-color: #020212;
    color:#F9EBE0;
    font-family:"montserrat" ;
    font-size: 18px;
    text-decoration: none;
}
.bottom a {
    text-decoration: none;
}
header,footer {
    background-color: #586994;
    text-decoration: none;
    
}
header {
    text-align: end;
}
.head, .bottom {
    background-color: #7D869C;
    text-decoration: none;
    text-align: center;
}

.bouton{
    border: #F9EBE0;
    border-style: solid;
    border-width: 1px;
    color:#C8553D ;
    background-color: #F9EBE0;
    text-decoration: none;
    border: #7D869C 1px solid;
}
.sneakybouton {
    text-decoration: none;
    color: #F9EBE0;
    font-size: 12px;
}
.formulaire {
    display:grid;
    grid-template-columns: 1fr 1fr ;
    margin: auto;
    width: 500px;
}
.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.title_centered{
    text-align: center;
}

.icons{
    height: 48px;
    width: 48px;
}
