
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #0B0B09;
    background-color:  #EAE6E5;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    padding:0;
    box-sizing: border-box;
}
.Head {background-color: #1C7293;
    
}
.detail {
    display: block;
    margin-left: 20px;
    
}

ul{
    text-align:left;
    list-style-position: outside;
    padding-left: 20px;
}
.container {
    display: flex;
}
.gauche, .droite {
    flex: 1;
    padding: 20px;
}
.gauche {
    background-color:#1C7293 ;
}
.droite {
    background-color: #EAE6E5;
}
.icon_reseau {
    width: 40px;
    height:40px;
    margin:10px;
    transition: transform 0.2s;
}

.icon-reseau:hover {
    transform:scale(1.1);
    cursor: pointer;
}